<html>
    <head>
        <title>{% block title %}Piano-Man: Riffing on Code{% endblock %}</title>
        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" href="/static/media/css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/media/css/960.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/media/css/global.css" type="text/css" media="screen" />
    </head>
    <body>
        <div class="container_12">
            <ul id="nav" class="grid_12">
                <li><a href="{% url repo_list %}" class="first">Home</a>{% if repo %} &gt; {% endif %}</li>
                {% if repo %}
                    <li><a href="{{ repo.get_absolute_url }}">{{ repo.name }}</a></li>
                {% endif %}
            </ul>
            {% if repo %}
                <ul id="subnav" class="grid_12">
                    <li class="grid_2 alpha active"><a href="{% url timeline slug=repo.slug %}">Timeline</a></li>
                    <li class="grid_2"><a href="{% url ticket_list slug=repo.slug %}">Tickets</a></li>
                    <li class="grid_2 append_6 omega"><a href="{% url code_browser slug=repo.slug path='' %}">Code Browser</a></li>
                </ul>
            {% endif %}
            <div class="grid_12">
                {% block content %}{% endblock %}
            </div>
            <div class="grid_12">
                <div class="grid_3 alpha" style="background-color:#6060c0">
                    <p>Test Color</p>
                </div>
                <div class="grid_3" style="background-color:#f0f0f0">
                    <p>Test Color</p>
                </div>
                <div class="grid_2" style="background-color:#303030; color: #f0f0f0">
                    <p>Test Color</p>
                </div>
                <div class="grid_2" style="background-color:#f0c018">
                    <p>Test Color</p>
                </div>
                <div class="grid_2 omega" style="background-color:#d84848">
                    <p>Test Color</p>
                </div>
            </div>
        </div>
    </body>
</html>
