{% load backstage %}

<html>
    <head>
        <title>{% block title %}Piano-Man: Riffing on Code{% endblock %}</title>
        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/nav.css" media="screen" />
        <!--[if IE 6]>
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/ie6.css" media="screen" />
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/ie.css" media="screen" />
        <![endif]-->
    </head>
    <body>
        <div class="container_16">
            <div class="grid_16">
                <h1 id="branding">
                    <a href="{% url repo_list %}">Piano Man</a>
                </h1>
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                <ul class="nav main">
                    {% if repo %}
                        <li>
                            <a href="{% url timeline slug=repo.slug %}">Timeline</a>
                        </li>
                        <li>
                            <a href="{% url ticket_list slug=repo.slug %}">Tickets</a>
                        </li>
                        <li>
                            <a href="{% url new_ticket slug=repo.slug %}">New Ticket</a>
                        </li>
                        <li>
                            <a href="{% url code_browser slug=repo.slug path='' %}">Code Browser</a>
                        </li>
                    {% endif %}
                    {% get_other_repos repo as repos %}
                    {% for repo in repos %}
                        <li class="secondary">
                            <a href="{{ repo.get_absolute_url }}">{{ repo.name }}</a>
                            <ul>
                                <li>
                                    <a href="{% url timeline slug=repo.slug %}">Timeline</a>
                                </li>
                                <li>
                                    <a href="{% url ticket_list slug=repo.slug %}">Tickets</a>
                                </li>
                                <li>
                                    <a href="{% url new_ticket slug=repo.slug %}">New Ticket</a>
                                </li>
                                <li>
                                    <a href="{% url code_browser slug=repo.slug path='' %}">Code Browser</a>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                <h2 id="page-heading">{% block page_title %}{% endblock %}
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                {% block content %}{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
