{% extends "base.html" %}

{% block title %}New Ticket for {{ repo.name }}{% endblock %}

{% block content %}
    <form method="post" action=".">
        <fieldset>
            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                </p>
            {% endfor %}
            {% for field in detail_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                </p>
            {% endfor %}
            <input type="submit" value="Submit Ticket" />
        </fieldset>
    </form>
{% endblock %}
