{% extends "base.html" %}

{% load backstage %}

{% block title %}Attach a new file to ticket #{{ ticket.pk }}{% endblock %}

{% block page_title %}Attach a new file to ticket #{{ ticket.pk }}{% endblock %}

{% block content %}
    <div class="box">
        <form action="" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>New Attachment</legend>
                {% render_form form %}
                <input type="submit" value="Upload attachment" />
            </fieldset>
        </form>
    </div>
{% endblock %}
