{% extends "base.html" %}

{% block title %}Details for ticket #{{ ticket.pk }} on {{ repo.name }}{% endblock %}

{% block page_title %}Ticket #{{ ticket.pk }}{% endblock %}

{% block content %}
    <div class="box">
        <h3>{{ ticket.title }} (Status: {% if ticket.closed %}Closed{% else %}Open{% endif %})</h3>
        <table>
            <tr>
                <th>Created by: </th>
                <td>{{ ticket.creator }}</td>
                <th>Created at: </th>
                <td>{{ ticket.created_at }}</td>
            </tr>
            {% for selection in ticket.selections.all %}
                {% if forloop.counter0|divisibleby:2 %}
                    <tr>
                {% endif %}
                <th>{{ selection.option }}: </th>
                <td>{{ selection.choice.text|default:"None" }}</td>
                {% if not forloop.counter0|divisibleby:2 %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <p>{{ ticket.description }}</p>
    </div>
    <div class="box">
        <h3>Attachments</h3>
        <ul>
            {% for attachment in ticket.attachments.all %}
                <li>
                    <a href="{{ attachment.get_absolute_url }}">
                        {{ attachment.file_name }}
                    </a>
                    uploaded by {{ attachment.uploaded_by }} at {{ attachment.uploaded_at }}
                    <br />
                    {{ attachment.description }}
                </li>
            {% endfor %}
        </ul>
        <form action="{% url ticket_new_attachment slug=repo.slug ticket_id=ticket.id %}" method="get">
            <input type="submit" value="Attach file" />
        </form>
    </div>
    <div class="box">
        <h3>Changes</h3>
        <div>
            {% for change in ticket.changes.all %}
                <div>
                    <h5>Changed by {{ change.user }} at {{ change.at }}</h5>
                    <ul style="border-top: 1px solid #BBBBBB;">
                        {% for change_item in change.changes.all %}
                            <li {% if forloop.first %}style="padding-top: 7px;"{% endif %}>
                                {{ change_item.as_text }}
                            </li>
                        {% endfor %}
                    </ul>
                    <p>{{ change.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="box">
        <form action="" method="post">
            <fieldset>
                <legend>Edit Ticket</legend>
                {% for field in detail_form %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                    </p>
                {% endfor %}
                <input type="submit" value="Edit Ticket" />
            </fieldset>
        </form>
    </div>
{% endblock %}
