{% extends "base.html" %}

{% load highlight %}

{% block title %}{{ attachment.file_name }} on ticket #{{ ticket.pk }}{% endblock %}

{% block extra_head %}
    <style>
        {% highlight_css %}
    </style>
{% endblock %}

{% block page_title %}
    {{ attachment.file_name }} on <a href="{{ ticket.get_absolute_url }}">ticket #{{ ticket.pk }}</a>
{% endblock %}

{% block content %}
    <div class="box">
        <p>{{ attachment.description }}</p>
    </div>
    {{ attachment.file.read|highlight:attachment.file_name }}
{% endblock %}
