{% extends "base.html" %}

{% block title %}Details for ticket #{{ ticket.pk }} on {{ repo.name }}{% endblock %}

{% block content %}
    <div class="grid_7 alpha">
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
    </div>

    <ul class="grid_5 omega">
        <li>Created by: {{ ticket.creator }}</li>
        <li>Created at: {{ ticket.created_at }}</li>
        {% for selection in ticket.selections.all %}
            <li>{{ selection.option }}: {{ selection.choice.text }}</li>
        {% endfor %}
    </ul>

    <h3>Changes</h3>
    <ol id="change_list" class="grid_10 append_2">
        {% for change in ticket.changes.all %}
            <li>
                <ul>
                    {% for change_item in change.changes.all %}
                        <li>
                            {{ change_item.option }} changed from {{ change_item.from_text|default:"None" }} to {{ change_item.to_text }}
                        </li>
                    {% endfor %}
                </ul>
                <p>Changed by {{ change.user}} at {{ change.at }}</p>
                <p>{{ change.text }}</p>
            </li>
        {% endfor %}
    </ol>
    <table class="grid_8 append_4">
        <form method="post" action=".">
            {{ detail_form }}
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </form>
    </table>
{% endblock %}
