{% extends "base.html" %}

{% load backstage %}

{% block title %}Charts for {{ repo.name }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/charts.css" media="screen" />
{% endblock %}

{% block page_title %}Ticket charts for {{ repo.name }}{% endblock %}

{% block content %}
    {% for option, results in data.iteritems %}
        <div class="grid_4">
            <h4>
                <a href="{% url ticket_option_chart slug=repo.slug option=option %}">
                    Tickets by {{ option }}
                </a>
            </h4>
            {% chartlist results.0 results.1 option %}
        </div>
        {% if forloop.counter|divisibleby:4 %}
            <div class="clear"></div>
        {% endif %}
    {% endfor %}
{% endblock %}
