{% extends "base.html" %}

{% block title %}Tickets for {{ repo.name }}{% endblock %}

{% block page_title %}Tickets{% endblock %}

{% block content %}
    <div class="box">
        <fieldset>
            <legend>Custom Query</legend>
            <form action="" method="get">
                <table>
                    {% for field in filter.form %}
                        <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>{{ field }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td><input type="submit" />
                    </tr>
                </table>
            </form>
        </fieldset>
    </div>
    <table>
        <tr>
            <th>#</th>
            <th>Creator</th>
            <th>Created At</th>
            <th>Title</th>
        </tr>
        {% for ticket in filter.qs %}
            <tr>
                <td>
                    <a href="{{ ticket.get_absolute_url }}">{{ ticket.id }}</a>
                </td>
                <td>
                    {{ ticket.creator }}
                </td>
                <td>
                    {{ ticket.created_at }}
                </td>
                <td>
                    {{ ticket.title }}
                </td>
            <tr>
        {% endfor %}
    </table>
{% endblock %}
