{% extends "base.html" %}

{% load backstage %}

{% block title %}Chart for {{ option.name }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/charts.css" media="screen" />
{% endblock %}

{% block page_title %}Tickets by {{ option.name }}{% endblock %}

{% block content %}
    <div class="grid_4">
        <h4>{{ total }} ticket{{ total|pluralize }} total</h4>
        {% chartlist data total %}
    </div>
    <div class="grid_9">
        <div class="box">
            <fieldset>
                <legend>Custom Query</legend>
                <form action="" method="get">
                    <table>
                        {% for field in filter.form %}
                            <tr>
                                <th>{{ field.label_tag }}</th>
                                <td>{{ field }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td><input type="submit" />
                        </tr>
                    </table>
                </form>
            </fieldset>
        </div>
    </div>
    <div class="grid_3">
        <div class="box">
            <h5>Charts for other options</h5>
            <ul>
                {% for option in options %}
                    <li>
                        <a href="{% url ticket_option_chart slug=repo.slug option=option.name %}">
                            {{ option.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
