{% extends "base.html" %}

{% block title %}
    {{ path }} in {{ repo.name }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}media/css/code_browser.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <h1>
        Contents of {{ path }}
    </h1>
    <ul>
        {% for path, folder in folders %}
            <li class="folder">
                <a href="{% url code_browser slug=repo.slug path=path %}/">
                    {{ folder }}/
                </a>
            </li>
        {% endfor %}
        {% for path, file in files %}
            <li class="file">
                <a href="{% url code_browser slug=repo.slug path=path %}">
                    {{ file }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
